# UI 
[color]
    diff = auto
    status = auto
    branch = auto
    interactive = auto
    ui = true
    pager = true

[color "status"]
   added = green
   changed = red
   untracked = magenta
       
# User settings
[user]
    name = YOUR_NAME
    email = YOUR_EMAIL     
    
[alias]
    se = !git rev-list --all | xargs git grep -F # Search for a term in git project. Usage: 'git se <term>'
    res = !git reset --hard # Clean all changes. Warning will delete work in WD. 
    gl = config --global -l
    alias = !git config --global -l | grep alias # List all available aliases in .gitconfig
